/*body {background: #ffffff; margin: 0; padding: 0;}
a {color: #2b2bf6;
  padding: 2em;}
#container {width: 900px; margin: 0; padding: 0; background: #dddddd;}

#header {width: 900px; 	height: 100px; 	margin: 0; padding: 0; border: 0; background: linear-gradient(#006600, #99FF99);}
#header {font-family: Papyrus; font-size: 14px}
#header {text-align: center;}
#header {border-radius: 25px; padding: 10px;}

#nav {
   width: 920px;
   height: 30px;
   border-radius: 25px; padding: 10px;
   top: -9px;
   padding: 9px 0px 50px 0px;
   background: linear-gradient(#99FF99, #CCE5FF);
   margin-bottom: 0px;
   text-align: center;
}

#content {width: 900px; height: 900px; 	margin: 0; padding: 0; border: 0; float: left; background: linear-gradient(#CCE5FF, #0000CC);}
#content {font-family: Times New Roman; font-size: 18px}
#content {border-radius: 25px; padding: 10px;}
#content {text-align: center;}

#footer {width: 900px; 	height: 70px; 	margin: 0; padding: 0; border: 0; float: left; background: linear-gradient(#0000AA, #990099); clear:both;}
#footer {border-radius: 25px; padding: 10px;}*/
#header {
  margin-top: 5%;
}
